
// font-family: 'Dancing Script', cursive;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Quicksand', sans-serif;
// font-family: 'Roboto Flex', sans-serif;
body{
    font-family: var(--body-font);
    background-color: var(--100-common-color);
    color: var(--primary-text-color);
    font-size: var(--small-font-size);
    line-height: var(--body-line-height);
}

h1,
h2,
h3,
h4,
h5,
h6{
    // line-height: var(--heading-line-height);
    font-family: var(--body-font);
    color: var(--main-primary-color);
}

a{
  color: var(--primary-text-color);
}


