@use "../abstracts" as abstracts;
.grid-articles{
  &__wrapper{
    min-height: 100vh;
    padding: 4rem 0;
    @include abstracts.breakpoints-up(large){
      padding: 6rem 0;
    }
  }
  &__intro-section{
    margin-bottom: 2rem;
  }
  &__cards{
    padding: 1rem  0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 1.25rem;
    grid-row-gap: 2em;
    @include abstracts.breakpoints-up(medium){
      grid-column-gap: 1.5rem;
      grid-template-columns: repeat(2, 1fr);
    }
    @include abstracts.breakpoints-up(large){
      grid-column-gap: 2rem;
      grid-template-columns: repeat(4, 1fr);
    }
  }
}


