@use "../abstracts" as abstracts;

.grid-hero{
  position: relative;
  &__wrapper{
    min-height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    @include abstracts.breakpoints-up(large){
      flex-direction: row;
    }
  }
  &__text{
    flex: 2;
    order: 2;
    @include abstracts.breakpoints-up(large){
      order: 1;
    }
  }
  &__image{
    min-height: 45vh;
    flex: 4;
    order: 1;
    align-self: stretch;
    position: relative;
    @include abstracts.breakpoints-up(large){
      order: 2;
    }
  }
}
